/* root setting */
body, header, footer, #borad{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Philosopher', sans-serif;
}

header, footer, main{
    width: 80%;
    background-color: antiquewhite;
}

header{
    height: 60vh;
}

footer{
    height: 20vh;
}


/* items */
h1{
    font-size: 3rem;
    color: wheat;
    font-weight: 500;
    margin: 5% 0 0 0;
    font-family: 'Dela Gothic One', sans-serif;
}

h2{
    font-size: 2rem;
    font-weight: 600;
}

nav{
    height: 10%;
}

nav, ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: aqua;
}

ul{
    height: 90%;
    font-weight: 900;
}

span{
    width: 1px;
    height: 100%;
    background-color: black;
}

p{
    margin: 30px 0px 30px 0px;
}

section{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: column;
}

input, textarea{
    width: 100%;
    margin: 10px 0px 10px 0px;
}

textarea{
    height: 30vh;
}

/*ids*/
#borad{
    height: 90%;
    width: 100%;
    background-color: beige;
    background-image: url("../image/legendary-muffin-logo.jpg");
    background-position: center;
    background-size: cover;
}

#li-c{
    border-left: 10px;
    border-right: 10px;
    border-color: black;
    border-style: solid;
}

#life-div{
    padding: 10px;
}

#lfm{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    list-style-type: square;
    background-color: #ffffff00;
    margin: 30px 10px 30px 20px;
}

#formradio{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

#formradio div{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: auto;
    margin: 10px;
}

#formradio div input{
    width: auto;
}

#submit{
    width: auto;
}

#muffin-p{
    float: left;
    width: 200px;
    margin: 10px;
}

/* class */

.ct-f{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    width: 90%;
    background-color: aqua;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.fitwidth{
    display: flex;
    justify-content: start;
    align-items: start;
    width: auto;
}
